
@mixin btn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  display: flex;
  font-weight: bold;
  padding: 0.25em 0.5em;
  text-decoration: none;
  color: black;
  background: #ECECEC;
  transition: .4s;
  height: 40px;
  width: 100%;
}
.btn {
  @include btn;
  font-size: 16px;
  cursor: pointer;
  &:hover {
    background: chocolate;
    color: white;
  }
  &--active {
      @include btn;
      display: flex;
      align-items: center;
      position: relative;
      display: flex;
      justify-content: center;
      font-weight: bold;
      font-size: 12px;
      padding: 0.25em 0.5em;
      text-decoration: none;
      background: chocolate;
      color: white;
      transition: .4s;
      width: 100%;
      cursor: pointer;
    }
}

.btn__wrapper{
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.btn--small {
    margin-right: 12px;
    width: 40px !important;
}

.btn--large {
    width: 200px !important;
    margin: 12px 12px;
}

.btn--medium {
    width: 74px !important;
}