.form{
  &__text{
    font-size: 14px;
    margin-top: 6px;
    cursor: pointer;
  }
}
.form-item {
  &__label {
    font-size: 16px;
    color: #2c3e50;
    font-weight: 600;
    margin-right: 12px;
    text-align: left;
  }
  &__input{
    width: 100%;
    margin: 12px 0;
  }
  &__require{
    background-color: red;
    font-size: 10px;
    color: white;
    border-radius: 4px;
    display: inline-block;
    padding: 1px 4px;
    vertical-align: middle;
  }
}

.validation-message {
  font-size: 12px;
  color: red;
  margin-top: 8px;
  text-align: left;
}
.underline {
  border-bottom: 2px solid #333;
  padding: 0 8px 2px 8px;
  position: relative;
  &::before {
    left: 0;
    content: "";
    height: 5px;
    width: 2px;
    position: absolute;
    bottom: 0;
    background-color: #333;
  }
  &::after {
    content: "";
    height: 5px;
    width: 2px;
    position: absolute;
    right: 0;
    bottom: 0;
    background-color: #333;
  }
  input {
    position: relative;
    border: none;
    border-image-width: 0;
    outline: none;
    margin: 0;
    font-size: 16px;
    padding-bottom: 6px;
    z-index: 1;
    -webkit-appearance: none;
    border-radius: 0;
    background-color: transparent;
    width: 100%;
    display: block;
    box-sizing: border-box;
    color: #2c3e50 !important;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
  }
  label {
    width: 100%;
    padding-bottom: 2px;
    cursor: default;
    font-weight: bold;
    position: absolute;
    font-size: 20px;
    font-family: "Roboto", sans-serif;
    top: -14px;
    left: 8px;
    opacity: 0;
    color: #777;
  }
    input::placeholder {
    user-select: none;
    position: absolute;
    left: 8px;
    bottom: 8px;
    color: #777;
    font-family: "Roboto", sans-serif;
    font-weight: normal;
    font-size: 16px;
    z-index: 0;
    opacity: 0.99;
  }
}
.placeholder {
  user-select: none;
  position: absolute;
  left: 8px;
  bottom: 8px;
  color: #777;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  font-size: 16px;
  z-index: 0;
  opacity: 0.99;
}
.submit-btn {
  margin: 0 auto;
    display: block;
    position: relative;
    width: 160px;
    padding: 0.8em;
    text-align: center;
    text-decoration: none;
    color: #fff;
    background: #3A8BA8;
  &:hover {
    cursor: pointer;
    text-decoration: none;
    background:#fff;
  color:  #3A8BA8;
  border:solid 1px #3A8BA8;
  }
}