.Modal{
  &__background{
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    // background: rgba(0, 0, 0, 0.5);
  }
  &__title{
    font-size: 24px;
    padding-top: 12px;
    font-weight: bold;
  }
  &__header {
    height: 60px;
    position: relative;
  }
  &__footer {
    display: flex;
    justify-content: center;
    height: 60px;
  }
  &__pagination {
    height: 60px;
    border-top: solid 1px;
  }
  &__close {
    position: absolute;
    right: 16px;
    top: 10px;
    cursor: pointer;
  }
  &__wrapper {
    border-radius: 6px;
    height: 600px;
    width: 600px;
    background: white;
    position: relative;
  }
  &__body {
    height: calc(100% - 200px);

  }
  &__form {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    &-item {
      width: 100%;
      font-weight: bold;
      font-size: 20px;
      display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
      &__text{
        padding-bottom: 32px;
      }
    }
  }
}