@media screen and (max-width: 480px) {
  .header__title--text{
    display: none;
  }
  .form {
    padding: 44px 36px !important;
  }
  .Modal__wrapper{
    height: 480px !important;
    margin: 12px;
  }
  .bookshelf__line{
    max-height: 98px !important;
    min-height: 98px !important;
  }
  .search{
    &__image{
      height: 148px !important;
    }
  }
  .cover-image{
    width: 60px !important;
    height: 86px !important;
    padding: 0 !important;
    &__container  {
      margin: 8px !important;
    }
    &__menu{
      height: 88px !important;
    }
  }
  .bookshelf__outer {
    width: 336px !important;
  }
  .VueCarousel-inner{
    width: 380px;
  }
}

/* iphone 5 */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-height: 568px) 
  and (-webkit-device-pixel-ratio: 2) {
    .bookshelf {
      &__title {
        padding: 8px;
      }
      &__outer {
        width: 270px !important;
      }
      &__line {
        max-height: 68px !important;
        min-height: 68px !important;
      }
    }
    .cover-image {
      &__menu{
        height: 60px !important;
        }
      } 
  }

//iphone x 
 
@media only screen 
    and (device-width : 375px) 
    and (device-height : 812px) 
    and (-webkit-device-pixel-ratio : 3) { 
      .bookshelf{
        &__outer {
          width: 330px !important;
        }
        .bookshelf__line{
          max-height: 102px !important;
          min-height: 100px !important;
        }
      }
      .cover-image {
        width: 60px !important;
        height: 82px !important;
      }
      .bookshelf__item{
        width: 82px !important;
      }
    }

// iphone 8
@media only screen 
    and (device-width : 375px) 
    and (device-height : 667px) 
    and (-webkit-device-pixel-ratio : 2) {
      .btn {
        font-size: 14px !important;
      }
      .Modal__form-item{
        font-size: 18px !important;
      }
      .bookshelf{
        &__outer {
          width: 324px !important;
        }
        .bookshelf__line{
          max-height: 84px !important;
          min-height: 84px !important;
        }
      }

    .cover-image{
        height: 72px !important;
        width: 60px !important;
        padding: 0 !important;
        &__container  {
          margin: 8px !important;
        }
        &__menu{
          max-height: 74px !important;
          min-height: 74px !important;
        }
      }
    }